.remote-main {
    text-align: center;
}

img {
    border-radius: 10px;
    width: 50%;
    height: 50%;
    cursor: move;
}

.remote-btn {
    position: fixed;
    right: 20%;
    top: 35%;
    width: 40px;
}

a {
    text-align: center;
    width: 10px;
    height: 10px;
    border-bottom: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-top: 10px;

    font-size: 200%;
    text-decoration: none;
}

.send-text {
    position: fixed;
    right: 17%;
    top: 35%;
    width: 20px;
}

textarea {
    text-align: center;
    margin-bottom: 10px;
    padding-bottom: 10px;

    font-size: 130%;
    text-decoration: none;
    font-family: 'Noto Sans JP', sans-serif;
}